*{
    padding: 0;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
	text-decoration: none;
	scroll-behavior: smooth;
}

p{
	font-size: 14px;
	font-weight: 500;
}

body{
	font-family: 'Montserrat', sans-serif;
}

nav {
    width: 100%;
    height: 50px;
    background:  #302521 ;
    padding:5px 0;
	position: sticky;
	top: 0;
	z-index: 1000;
}

nav ul {
	float: right;
    margin-right: 50px;
}


.logo{
    color: white;
    line-height: 40px;
	padding: 0 80px;
	font-size: 12px;
	font-weight: 500;
}

.logo span{
    font-size: 30px;
    color: sandybrown;
}

nav ul li{
    list-style: none;
    display: inline-block;
	margin: 0 3px;
}

nav ul li a {
    color:  white;
    font-weight: 450;
    text-transform: uppercase;
    line-height: 40px;
    padding: 5px 4px;
    border: 1px solid transparent;
	border-radius: 3px;
	font-size: 12px;
}

a.active, a:hover{
    border: 1px solid sandybrown;
}


#btn {
    color: white;
    float: right;
    margin-top: 2px;
    padding: 0px 3px;
    cursor: pointer;
    border:2px solid transparent;
    font-weight: 600;
    display: none;
    
}

#btnfermer {
    float: right;
    font-size: 60px;
    color: white;
    cursor: pointer;
    margin-right: 43px;
    margin-top: 3px;
    padding: -20px 0;
    display: none;
    
}

@media screen and (max-width:1048px){
    .logo{
        padding-left: 50px;
		font-size: 12px;
		font-weight: 500;
    } 
    
    .logo span{
        font-size: 30px;
    }

    nav ul {
        margin-right: 25px;
    }

}

@media screen and (max-width:802px){
    #btn {
        display: block;
		margin-right: 40px;
		font-size: 25px;
	}
	
	.texte_centrer{
		font-size: 80%;
	}
	
    nav ul {
        position: fixed;
        top: 50px;
        right: -100%;
        margin-right: 0px;
        text-align: center;
        width: 60%;
        height: 80vh;
     	background-color:rgba(0, 0, 0, 0.8);
        transition: all .3s;
        
    }

    nav ul li {
        display: block;
        margin: 10px 0px;
    }

    nav ul li a {
        font-size: 12px;
        color: white;
		font-weight: 450;
	} 
	
	a.active{
		border: none;
	}

    a:hover{
        border: none;
		color: sandybrown;
		text-decoration: underline;
        
    }

    nav ul.show{
        right: 0;
	}
	
}

@media screen and (max-width:240px)  {
	#btn {
		margin-right: 10px;
		font-size: 25px;
		margin-top: -45px;
    	cursor: pointer;
	}
	
	.texte_centrer{
		top:70%;
		font-size: 100%;
	}
}


.contenant{
	position: relative;
	color: bisque;
	text-align: center;
	width: 100%;
	min-width: 190px;
	max-width: 100%;
	height: 100%;
	font-size: 5vw;
	
}

.wrap:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 4;
}

.texte_centrer{
	position: absolute;
	align-content: center;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size:70%;
	width: 70%;
	height:100%;
	z-index: 999;
}
.texte_centrer h1{
	font-family: 'Montserrat', sans-serif;
}

.contenant .image1{
	width: 100%;
	display: block;
	}

.titre { 
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h2{
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;
	color: darkblue;
}

.menu{
	background: #dde0e9;
}

.menu, .Audible {
	margin: 50px 0px 12px 0px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.menu .contenu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.menu .contenu .box {
	width:195px;
	margin: 20px;
	border: 2px solid #dde0e9;
	box-shadow:20px 15px 35px rgba(0,0,0,0.4);
	border-radius: 10px;
}

.menu .contenu .box .imbox{
	position:relative;
	width: 100%;
	height: 260px;
}

.menu .contenu .box .imbox img {
	position : relative;
	width:100%;
	padding: 5px;
	height:250px;
	object-fit: cover;
	justify-content: center;
}

.menu .contenu .box .text {
	text-align: justify;
	margin-top: -10px;
	text-indent: 10px;
	padding: 10px;
}

.debut{
	margin-top: 30px;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 12px;
	padding: 12px 0;
}

.apropos {
	text-align: center;
	margin-bottom: 15px;
}

.audible{
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
	color: darkblue;
	text-align: center;

}

.lienAmazon, .lien1 {
	text-decoration: none;
	font-weight: bold;
	color:#FF4500;
	text-transform: uppercase;
	word-spacing: 3px;
}

.mo1{
	text-indent: 25px;
	padding: 0 20px;
	text-align: justify;
	line-height: 25px;
	font-size: 14px;
}

.mo2 {
	text-align: justify;
	line-height: 20px;
	text-indent: 25px;
	font-size: 14px;
	padding: 0 20px;
}

.mot{
	padding: 0 20px;
	text-align: justify;
	line-height: 25px;
	font-size: 14px;
}

div .lesbtns{
	display: inline-block;
}


.barre_two{
	width:4em;
	height:2px;
	background:darkblue;
	margin:0 auto;
	margin-top: 30px;
	margin-bottom: 10px;
	
}

.titre2{
	text-align: center;
	margin-bottom:30px;
	
}

.titre2 h2{
	text-transform: capitalize;
	color: darkblue;
	font-weight:bold;
	font-size: 1.2em;
	font-family: 'Montserrat', sans-serif;
}

.titre2 h2 span {
	font-size: 1.5em;
}

#formulaire{
	background:white;
	width:470px;
	margin:0 auto;
	border: 2px solid #dde0e9 ;
	padding:25px;
	font-size: 13px;
	font-weight:bold;
	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.6);
}

.premier, .deuxième{
	width:100%;
}

.premier div{
	display:inline-block;
	margin-bottom: 20px;
	width:45%;

}

.deuxième div{
	display:inline-block;
	margin-bottom: 20px;
	width:45%;
}

.troisième{
	margin-top:5px;
}

.element2{
	margin-left:35px;
}

.case {
	height:20px;
	width:100%;
	padding-left: 5px;
}

.case2{
	padding-left: 5px;
}

.erreur{
	font-size:10px;
	font-style:italic;
	font-weight:bold;
	height: 15px;
	margin-top:0px;
	color:red;
	position: absolute;

}

textarea{
	width:100%;
}

.blue{
	color:blue;
}

.blue1{
	font-weight:bold;
	color:blue;
	font-size:12px;
}

.soumettre input[type=submit] {
	display:block;
	margin:25px auto 0;
}

.envoyer{
	border:1px solid #fff;
	background:#FF4500;
	border-radius:5px;
	font-weight:bold;
	text-transform:uppercase;
	color:white;
	font-size:12px;
	padding:10px 20px;
}

.envoyer:hover {
	background:sienna;
}

.thankyou{
	text-align:center;
	font-size:14px;
	font-weight:bold;

}

@media screen and (max-width: 700px){
	#formulaire{
		width:60vw;
	}

	.premier, .deuxième{
		width:100%;
	}

	.premier div{
		width:100%;
	}

	.deuxième div{
		width:100%;
	}
	
	.element2{
	margin-left:0px;
}

}

@media screen and (max-width: 420px){
	#formulaire{
		width:80vw;
	}
}

.footer p{
	margin-top: 30px;
	text-align: center;
	color: white;
	font-size: 14px;
	width:100%;
	background : dimgray;
	padding-top:20px;
	padding-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;

}

.jama{
	color: sandybrown;
	
}

@media screen and (max-width: 991px){

	section {
		padding: 20px;
	}

	section.contenant {
		padding: 0px;
	}

	.audible{
		font-size: 1.5em;
		text-align: center;
	}


	.footer p{
		font-weight: 400;
		font-size: 0.8em;
	}

	h2{
		font-size: 1.2em;
	}

	.audible{
		font-size: 1.2em;
	}

	.texte_centrer h1{
		font-size: 1.3em;
	}
}

@media screen and (max-width:480px) {
	.menu .contenu .box {
		width:60vw;
	}

	nav ul{
		width: 100%;
		height: 100vh;
	}
}

@media screen and (max-width:320px) {
	.menu .contenu .box {
		width:80vw;
	}

	.logo {
		padding-left: 10px;
	}


}